@mixin tp-transition($time : .3s){
    -webkit-transition: $time;
    -o-transition: $time;
    transition: $time;
}

// placeholder input
@mixin tp-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}