@use '../../utils/' as *;

.tp-header {
    &-transparent {
        position: absolute;
        top: 26px;
        left: 0;
        right: 0;
    }

    &-row {
        display: flex;
    }

    &-logo {
        background-color: var(--tp-primary-color);

        &-box {
            width: 200px;
            text-align: center;
            background-color: var(--tp-primary-color);
            padding: 16px 10px;
        }

        &-shape {
            position: relative;

            &:after {
                content: '';
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 35.5px 0 35.5px 21px;
                border-color: transparent transparent transparent var(--tp-primary-color);
                transform: rotate(0deg);
                position: absolute;
                top: 0;
                right: -20px;
            }
        }
    }

    &-menu {
        margin-left: 50px;


        & ul {
            & li {
                display: inline-block;
                margin-right: 40px;
                position: relative;

                & a {
                    display: inline-block;
                    color: var(--tp-primary-color);
                    font-weight: 600;
                    font-size: 16px;
                    padding: 22px 0;

                }

                &:hover {
                    &>a {
                        color: var(--tp-theme-color);
                    }

                    &>.sub-menu {
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }
                }

                & .sub-menu {
                    position: absolute;
                    top: 105%;
                    left: 0;
                    background: #fff;
                    width: 220px;
                    padding: 18px 0;
                    @include tp-transition();
                    opacity: 0;
                    visibility: hidden;

                    & li {
                        margin-right: 0px;
                        display: block;

                        & a {
                            padding: 3px 28px;
                            display: block;
                        }

                        & .sub-menu {
                            left: 100%;
                            top: 0;
                        }
                    }
                }

            }
        }
    }

}