@use '../../utils/' as *;

.tp-header {
    &-container {
        max-width: 1424px;
    }

    &-bg {
        padding-right: 5px;
        border-radius: 12px;
    }

    &-content {
        width: 100%;
    }

    &-transparent {
        position: absolute;
        top: 26px;
        left: 0;
        right: 0;
    }

    &-row {}

    &-logo {
        position: absolute;
        z-index: 1;

        &-box {
            width: 200px;
            text-align: center;
            flex: 0 0 auto;
            border-radius: 12px 0 0 12px;
        }

        &-shape {
            position: relative;

            & svg {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;

            }


        }
    }

    &-menu {
        margin-left: 50px;


        & ul {
            & li {
                display: inline-block;
                margin-right: 40px;
                position: relative;

                & a {
                    display: inline-block;
                    color: var(--tp-primary-color);
                    font-weight: 600;
                    font-size: 16px;
                    padding: 21px 0;

                }

                &:hover {
                    &>a {
                        color: var(--tp-theme-color);
                    }

                    &>.sub-menu {
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }
                }

                & .sub-menu {
                    position: absolute;
                    top: 105%;
                    left: 0;
                    background: #fff;
                    width: 220px;
                    padding: 18px 0;
                    @include tp-transition();
                    opacity: 0;
                    visibility: hidden;

                    & li {
                        margin-right: 0px;
                        display: block;

                        & a {
                            padding: 3px 28px;
                            display: block;
                        }

                        & .sub-menu {
                            left: 100%;
                            top: 0;
                        }
                    }
                }

            }
        }
    }

    &-right {}

    &-phone {
        & a {
            color: #063D30;
            font-size: 15;
            font-weight: 600;
            display: flex;
            align-items: center;
        }

        & svg {
            margin-right: 5px;
        }
    }

    &-btn {
        margin-left: 40px;
    }



}