@use '../utils/' as *;

.tp-btn {
    background: var(--tp-theme-color);
    padding: 20px 34px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    line-height: 1;
    border-radius: 12px;
}